@import 'compass';
@import 'compass/css3/user-interface';

$wdl-viewer-breakpoint-small: 480px !default;
$wdl-viewer-breakpoint-medium: 1100px !default;
$wdl-viewer-breakpoint-small-max: ($wdl-viewer-breakpoint-medium - 1px);

$wdl-viewer-text-color: #aaa !default;
$wdl-viewer-bg: #000 !default;

$wdl-viewer-control-height: 28px !default;
$wdl-viewer-control-min-width: $wdl-viewer-control-height !default;
$wdl-viewer-control-vertical-margin: 2px !default;
$wdl-viewer-control-horizontal-margin: 4px !default;

$wdl-viewer-toolbar-text-color: $wdl-viewer-text-color !default;
$wdl-viewer-toolbar-link-color: lighten($wdl-viewer-text-color, 10%) !default;
$wdl-viewer-toolbar-border-width: 2px !default;
$wdl-viewer-toolbar-border-color: lighten($wdl-viewer-bg, 50%) !default;
$wdl-viewer-toolbar-background-color: lighten($wdl-viewer-bg, 20%) !default;
$wdl-viewer-toolbar-height: $wdl-viewer-control-height + $wdl-viewer-toolbar-border-width !default;
$wdl-viewer-toolbar-font-size: 16px !default;
$wdl-viewer-toolbar-line-height: floor(($wdl-viewer-toolbar-font-size * 1.8)) !default;

$wdl-viewer-control-color: darken($wdl-viewer-text-color, 15%) !default;
$wdl-viewer-control-hover-color: $wdl-viewer-text-color !default;
$wdl-viewer-control-bg: lighten($wdl-viewer-bg, 10%) !default;

$wdl-viewer-control-border-color: lighten($wdl-viewer-bg, 30%) !default;
$wdl-viewer-control-border-width: 2px !default;
$wdl-viewer-control-border-radius: 3px !default;
$wdl-viewer-control-hover-border-color: mix($wdl-viewer-toolbar-border-color, rgb(0, 0, 255), 75%) !default;

$wdl-viewer-current-page-outline-color: #9c0 !default;
$wdl-viewer-search-hit-color: #88f !default;

// Overrides for the small breakpoint:
$wdl-viewer-small-control-border-width: 1px !default;
$wdl-viewer-small-control-height: floor(.7 * $wdl-viewer-control-height) !default;
$wdl-viewer-small-toolbar-border-width: 1px !default;
$wdl-viewer-small-toolbar-height: $wdl-viewer-small-control-height + $wdl-viewer-small-toolbar-border-width !default;
$wdl-viewer-small-toolbar-font-size: floor(.7 * $wdl-viewer-toolbar-font-size) !default;
$wdl-viewer-small-toolbar-line-height: floor(.7 * $wdl-viewer-toolbar-line-height) !default;

.wdl-viewer {
    // Core viewport styles:
    margin: 0 !important;
    padding: 0 !important;

    min-width: 320px;
    min-width: 100vw;

    min-height: 320px;
    min-height: 100vh;

    overflow: hidden;

    // Basic text styles:
    font-family: sans-serif;
    background-color: $wdl-viewer-bg;
    color: $wdl-viewer-text-color;

    // Basic reset:
    * {
        @include box-sizing(border-box);

        margin: 0;
        padding: 0;
    }

    label {
        font-weight: inherit;
    }

    // Viewport sizing:

    &,
    #viewer,
    #viewport,
    #grid {
        height: 100%;
        height: 100vh;
        width: 100%;
        width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }

    .hidden {
        display: none;
    }

    #viewer {
        background-color: $wdl-viewer-bg; // Set this here so it'll fill the viewport in all zoom/pan scenarios

        font-size: large;
        @media screen and (max-width: $wdl-viewer-breakpoint-medium) {
            font-size: small;
        }

        text-align: center;
    }

    // Rules common to both the header & footer
    header,
    footer {
        display: table;
        z-index: 10;
        width: 100%;

        height: $wdl-viewer-toolbar-height;
        @media screen and (max-width: $wdl-viewer-breakpoint-small) {
            height: $wdl-viewer-small-toolbar-height;
        }

        color: $wdl-viewer-toolbar-text-color;

        background-color: $wdl-viewer-toolbar-background-color;
        background-color: transparentize($wdl-viewer-toolbar-background-color, .1);

        > nav {
            display: table-row;

            > * {
                display: table-cell;
                vertical-align: middle;

                font-size: $wdl-viewer-toolbar-font-size;
                line-height: $wdl-viewer-toolbar-line-height;

                > * {
                    display: inline-block;
                    margin: $wdl-viewer-control-vertical-margin $wdl-viewer-control-horizontal-margin;

                    @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                        margin: 1px 2px;
                    }
                }

                @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                    font-size: $wdl-viewer-small-toolbar-font-size;
                    line-height: $wdl-viewer-small-toolbar-line-height;
                    height: $wdl-viewer-small-control-height;
                }

                &.hidden {
                    display: none; // Otherwise display:inline-block will clobber this
                }
            }
        }

        a {
            color: $wdl-viewer-toolbar-link-color;
        }

        button,
        input,
        label,
        select,
        .control {
            display: inline-block;
            vertical-align: middle;

            @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                // This looks better with the tight control packing:
                vertical-align: top;
            }
        }

        input {
            line-height: floor(($wdl-viewer-toolbar-font-size * 1.25));

            @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                line-height: inherit;
            }
        }

        select {
            @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                color: #000;
            }
        }

        button,
        a.control {
            display: inline-block;

            height: $wdl-viewer-control-height;
            min-width: $wdl-viewer-control-min-width;

            padding: 0 .3em;

            color: $wdl-viewer-control-color;
            background-color: $wdl-viewer-control-bg;

            border: solid $wdl-viewer-control-border-color $wdl-viewer-control-border-width;
            @include border-radius($wdl-viewer-control-border-radius);

            &:hover,
            &:focus,
            &.active {
                color: $wdl-viewer-control-hover-color;
                border-color: $wdl-viewer-control-hover-border-color;
                text-decoration: none;
            }

            @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                padding: 0;
                height: $wdl-viewer-small-control-height;
                font-size: ceil(.6 * $wdl-viewer-small-control-height);
                border-width: $wdl-viewer-small-control-border-width;
            }

            @media screen and (max-width: $wdl-viewer-breakpoint-small-max) {
                .title {
                    display: none;
                }
            }

            @media screen and (min-width: $wdl-viewer-breakpoint-medium) {
                .title {
                    padding: 0 .3em;
                }
            }
        }
    }

    header {
        position: fixed;
        top: 0;

        border-bottom: $wdl-viewer-toolbar-border-width solid $wdl-viewer-toolbar-border-color;
        @media screen and (max-width: $wdl-viewer-breakpoint-small) {
            border-bottom-width: $wdl-viewer-small-toolbar-border-width;
        }

        > nav {
            text-align: center;

            > h1 {
                max-width: 90%;
                max-width: 90vw;

                padding: 0 4px;

                font-family: inherit;

                font-size: floor($wdl-viewer-control-height * .6);
                @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                    font-size: floor($wdl-viewer-small-control-height * .6);
                }

                font-weight: bold;

                text-overflow: ellipsis;
                white-space: nowrap;

                a {
                    font-weight: bold;
                }
            }

            > form {
                margin: 0 auto;
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;

        border-top: $wdl-viewer-toolbar-border-width solid $wdl-viewer-toolbar-border-color;
        @media screen and (max-width: $wdl-viewer-breakpoint-small) {
            border-top-width: $wdl-viewer-small-toolbar-border-width;
        }

        > nav {
            // Range input slider
            #index,
            #fd-slider-index {
                width: 240px;

                .no-history & {
                    display: none;
                }

                @media screen and (max-width: $wdl-viewer-breakpoint-medium) {
                    display: none;
                }
            }

            // Current page / goto control:
            .current-index {
                width: 3em;
                @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                    width: 2em;
                }
            }

            .max-index,
            .max-index-label {
                @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                    display: none;
                }
            }

            // fdSlider polyfill adjustments
            #fd-slider-index {
                height: $wdl-viewer-control-height;
                vertical-align: top;
            }

            #index.fd-form-element-hidden {
                display: none; // We have a default display:inline-block which is more specific
                // See https://bugzilla.mozilla.org/show_bug.cgi?id=872351
                height: 0;
                width: 0;
            }
        }

        .toolbar.footer {
            // Since we have a fixed height, we can't allow wrapping buttons off of the display:
            white-space: nowrap;

            @include user-select(none);

            @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                // Hide the second back to item link on very small displays:
                .item-detail-nav {
                    display: none;
                }
            }

            .item-detail-nav a:before {
                content: '←';
            }

            .page {
                &.disabled {
                    color: $wdl-viewer-toolbar-text-color;
                    text-decoration: none;
                    cursor: default;
                }

                @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                    display: none;
                }
            }

            .no-fullscreen & #toggle-fullscreen {
                display: none;
            }
        }
    }

    #viewport {
        display: table;

        @include user-select(none);

        // This can't be a simple & parent selector because we need to target the element with the dir
        // flag directly until the CSS :dir() selector lands…
        &[dir=rtl] #pages > .page + .page {
            margin-left: 0;
            margin-right: 10px;
        }
    }

    #pages {
        display: table-cell;
        padding: 0;
        vertical-align: middle;

        > .page {
            display: inline-block;
            position: relative;

            .highlighted {
                @include search-result-highlight;
            }

            // sledgehammer around browsers inconsistently calculating 100% for .page img:
            &,
            img {
                max-height: 100%;
                max-height: 100vh;

                max-width: 100%;
                max-width: 100vw;
            }
        }

        > .page + .page {
            margin-left: 10px;
        }
    }


    #seadragon {
        .control {
            height: seadragon-controls-sprite-height(home);
            width: seadragon-controls-sprite-width(home);

            margin: 0;
            margin-bottom: 32px; // TODO: calculate this from the footer height

            overflow: hidden;

            background-repeat: no-repeat;
            text-decoration: none !important;

            @include squish-text;

            .touch & {
                display: none;
            }

            &.zoom-in {
                @include seadragon-controls-sprite(zoomin);
            }

            &.zoom-out {
                @include seadragon-controls-sprite(zoomout);
            }

            &.zoom-full {
                @include seadragon-controls-sprite(fullpage);
            }

            &.home {
                @include seadragon-controls-sprite(home);
            }

            &.previous-page {
                @include seadragon-controls-sprite(previous);

                &:lang(ar) {
                    @include seadragon-controls-sprite(next);
                }
            }

            &.next-page {
                @include seadragon-controls-sprite(next);

                &:lang(ar) {
                    @include seadragon-controls-sprite(previous);
                }
            }
        }
    }

    #grid {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        padding: 30px 0;

        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        background-color: #111;

        div {
            display: inline-block;
            height: 256px;
            width: 256px;

            margin: 8px;

            overflow: hidden;

            // JavaScript will set background-url to the image, avoiding extra DOM elements and some
            // alignment bugs exposed based on the aspect ratio of a contained <img> within a row(?!)
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            color: darken($wdl-viewer-text-color, 15%);
            line-height: 490px;
            text-align: left;

            @media screen and (max-width: 600px) {
                height: 128px;
                width: 128px;
                line-height: 240px;
            }

            &.hit {
                outline: solid $wdl-viewer-search-hit-color 2px;
            }

            &.current {
                outline: solid $wdl-viewer-current-page-outline-color 2px;
            }
        }
    }

    #content-search {
        position: fixed;
        bottom: $wdl-viewer-toolbar-height + $wdl-viewer-toolbar-border-width;
        right: 0;

        padding: 2px;

        background-color: $wdl-viewer-toolbar-background-color;
        background-color: transparentize($wdl-viewer-toolbar-background-color, .2);

        border: $wdl-viewer-toolbar-border-width solid $wdl-viewer-toolbar-border-color;
        border-right-width: 0;

        input[type='search'] {
            width: 10em;
        }
    }

    #help {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        z-index: 9999;

        height: 100%;
        width: 100%;
        min-height: 100%;
        min-width: 100%;

        background-color: transparentize($wdl-viewer-bg, .2);
        color: $wdl-viewer-text-color;
        font-size: x-large;
        text-align: center;

        .no-rgba & {
            background-color: $wdl-viewer-bg;
            @include opacity(.8);
        }

        @media screen and (max-width: $wdl-viewer-breakpoint-small) {
            font-size: inherit;
        }

        > div {
            display: table;
            height: 100%;
            width: 100%;

            > div {
                display: table-row;

                > div {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

        h1 {
            font-family: sans-serif;
            font-size: xx-large;
            @media screen and (max-width: $wdl-viewer-breakpoint-small) {
                font-size: larger;
            }
        }

        h2 {
            color: inherit;
            font-family: sans-serif;
        }

        p,
        table {
            max-width: 40em;

            margin: auto;

            color: #ddd;
            font-size: smaller;
        }

        th,
        td {
            padding: 0 1em;
            vertical-align: top;
        }

        td {
            text-align: left;

            &:lang(ar) {
                text-align: right;
            }
        }

        kbd {
            background-color: transparent;
        }

        .touch & .keyboard-controls {
            display: none;
        }

        .no-touch & .touch-controls {
            display: none;
        }
    }

    // Rules using Modernizr classes to hide features when they're unsupported:
    .no-fullscreen & .requires-fullscreen {
        display: none;
    }

    #viewer[data-active-view=grid] .requires-rotation,
    .no-csstransforms & #viewer[data-active-view=page] .requires-rotation,
    .no-canvas & #viewer[data-active-view=seadragon] .requires-rotation,
    .no-canvas & #help .requires-rotation,
    .touch & .requires-rotation {
        display: none;
    }
}
